/* SVG */
svg {
  font: 10px sans-serif;
  background-color: whitesmoke;
  margin-top: 25px;
  
}


/* Background lines */
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

/* Foreground lines */
.foreground path {
  fill: none;
  stroke: steelblue;
}

/* Brush extent */
.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* Axis lines */
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Axis text */
.axis text {
  font-size: 12px;
  font-weight: bold;
  fill: #333;
  cursor: move;
}

/* Tooltip */
.tooltip {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #555;
  background-color: #f9f9f9;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  opacity: 0.9;
}
